  <!doctype html>
    <head>
        <title>Regressione</title>
    </head>
    <body>
<h1>Regressione lineare</h1>
<form action="/" method="POST">
<p>Numero 1: <input type="number" name="numero" value="{{ val1 }}"></p>
<p>Numero 2: <input type="number" name="numero" value="{{ val2 }}"></p>
<p>Numero 3: <input type="number" name="numero" value="{{ val3 }}"></p>
<input type="submit" value="modella">
<p>valore previsto: <input type="number" name="result_dc" value="{{ result }}"></p>
</form>
</body>